{% extends 'layout.html.twig' %}

{% block user_score %}
    Score : {{ userScore }}
{% endblock %}

{% block content %}
    <div class="container-quest">
        <h5>{{ quests.quest_title }}</h5>
        {% if indice == 1 or indice == 2 or indice == 3 %}
            {#            _______________ Indice 1 ________________________________ #}
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Indice #1
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {{ quests.quest_clue01 }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if indice == 2 or indice == 3 %}
            {#            _______________ Indice 2 ________________________________ #}
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Indice #2
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {{ quests.quest_clue02 }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if indice == 3 %}
            {#            _______________ Indice 3 ________________________________ #}
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Indice #3
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            {{ quests.quest_clue03 }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <form method="POST" class="container-indice">
            <button type="submit" name="indice" value="help">Un autre indice</button>
        </form>
    </div>
    <form class="form-search-quest" method="POST">
        <div class="form-group search">
            <input type="text" class="form-control" id="search" name="search" placeholder="Entre une ville">
        </div>
        <button type="submit" class="btn btn-search"><i class="fas fa-play" style="color:#FFD868;"></i></button>
    </form>
    {% for webcam in webcams %}
        {% if webcam.id == location.quest_validation %}
            <span class="good-search">Tu es sur la bonne voie !</span>
        {% endif %}
    {% endfor %}
    {% if check is defined %}

        {% if check == true %}
            {% if webcam.id == location.quest_validation %}

            <span>Bravo !! Tu as trouvé la bonne réponse</span>
        {% endif %}

        {% else %}
            <span>Dommage :( Ce n'est pas la bonne réponse</span>
        {% endif %}
    {% endif %}

    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form class="container-webcam" method="POST">
    <div class="cam-container">
        {% for webcam in webcams %}
            <div class="webcam">
                <iframe class="cam" src="{{ webcam.player.lifetime.embed }}" frameborder="0"></iframe>
                <input name="id" value="{{ quests.quest_id }}" type="hidden">
                <button class="button-check" type="submit" name="response" value="{{ webcam.id }}">Voici ma reponse</button>
            </div>
        {% endfor %}
        </div>
    </form>
{% endblock %}
